<!DOCTYPE html>
<html>
<head>
    <title>Overlay</title>

    <style>
        body {
            margin: 0;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial;
            color: white;
        }

        #timer {
            font-size: 120px;
        }
    </style>
</head>

<body>

<div id="timer">0</div>

<script>
async function updateTimer() {
    try {
        const res = await fetch(window.location.origin + "/api/state");
        const data = await res.json();

        document.getElementById("timer").innerText = data.seconds;
    } catch (e) {
        document.getElementById("timer").innerText = "ERR";
        console.log("Overlay error:", e);
    }
}

// indulás
updateTimer();
setInterval(updateTimer, 1000);
</script>

</body>
</html>
