<!DOCTYPE html>
<html>
<head>
    <title>Overlay</title>

    <style>
        body {
            background: transparent;
            color: white;
            font-size: 80px;
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>

<div id="timer">0</div>

<script>
async function updateTimer() {
    const response = await fetch("/api/state");
    const data = await response.json();

    document.getElementById("timer").innerText = data.seconds;
}

setInterval(updateTimer, 1000);

updateTimer();
</script>

</body>
</html>
